@media (min-width: 1367px) {
    .loginmain_leftimg{position: absolute;}
    .rightdash_img{  left: 10%;}
    .alreadymember.bottomshow {
        position: relative;
        bottom: 0;
        left: auto;
        transform: initial;
    }
}

@media (max-width: 1199px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 1024px) {

}

@media (min-width: 991px) {
    .dashboard_inner_section fieldset{min-height: 500px;}
}

@media (max-width: 990px) {
    .rightdash_img{max-width: 500px;}
    .otpinputbox .m-4 {
        margin: 10px !important;
    }
}

@media (max-width: 767px) {
    .rightdash_img{max-width: 400px;}
}

@media (max-width: 600px) {
    .dashboard_form_start .dashboard_top_tab{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .dashboard_top_tab .dashoard_steps {
        margin-top: 0;
        padding-bottom: 20px;
    }
    .dashboard_step_part{width: 100%;}
    .dashboard_inner_section .next.action-button {
        position: relative;
        right: 0;
        top: 0;
        float: right;
    }
    .dashboard_inner_section .previous.action-button-previous {
        position: relative;
        right: 0;
        top: 0;
        float: right;
    }
    .dashboard_inner_section .previous.bankpart_back.action-button-previous {
        right: 0;
    }
}

@media (max-width: 520px) {
    .rightdash_img{max-width: 300px;}
}

@media (max-width: 480px) {
    .rightdash_img{max-width: 260px;}
    .rightsection_form {
        padding: 1em 0 1em;
    }
    
}

@media (max-width: 360px) {
    .rightdash_img{max-width: 250px;}
}
